.gcloudignore
.gitignore
.git
**/node_modules
**/npm-debug.log
**/.env
**/.env.local
**/.env.*.local
**/*.log
**/.DS_Store
server/.dockerignore
server/.gcloudignore
server/Dockerfile
docs
dev-audio
deploy
firebase.json
.firebaserc
firestore.rules
README.md
DEPLOY.md
