.gcloudignore
.gitignore
.git
**/node_modules
**/npm-debug.log
**/.env
**/.env.local
**/.env.*.local
**/*.log
**/.DS_Store
server/.dockerignore
server/.gcloudignore
server/Dockerfile
dev-audio
deploy
README.md
DEPLOY.md
PARTNER.md
